<app-header>

</app-header>


<router-outlet>
    <div class="color3">

        <div class="centralizar">

            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <h1>
                    Suco de Laranja
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam delectus eos,
                    quam distinctio excepturi ullam est perferendis. Quia temporibus mollitia autem est earum,
                    praesentium nihil, laboriosam minus magnam tenetur facere. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Minus reprehenderit laborum natus ipsa culpa est sed tempora beatae
                    eveniet, vel dolore,
                    fuga exercitationem cumque iste, non fugiat earum aliquam quia.lor
                </p>
                <h1>Suco de Limão</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam delectus eos,
                    quam distinctio excepturi ullam est perferendis. Quia temporibus mollitia autem est earum,
                    praesentium nihil, laboriosam minus magnam tenetur facere. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Minus reprehenderit laborum natus ipsa culpa est sed tempora beatae
                    eveniet, vel dolore,
                    fuga exercitationem cumque iste, non fugiat earum aliquam quia.lor
                </p>

            </form>
        </div>

    </div>



</router-outlet>

<app-rodape>

</app-rodape>