<div class="color3">

    <div class="centralizar">
        
            <h1>
                Lojinha online
            </h1>
            <h2>
                Controle ps5
            </h2>
            <div class="flexcontainer">
                 <div>
                    <img class="imagem" src="../assets/controller.webp" alt="">
                    <p>R$ 250,00</p>
                </div>

                 <div>
                    <h2>diferença de um pal pra um pokemon</h2>
                    <img class="imagem" src="../assets/palvspika.jpg" alt="">
                    <p>RS 300,00</p>
                </div>
                <div>
                    <h2>Jogo do sonic bate record</h2>
                     <img class="imagem" src="../assets/sonic.jpg" alt="">
                     <p>RS 350,00</p>
                </div>
            </div>
            
            <h1>Explorando a Diversidade dos Jogos Médios Preferidos pelos Brasileiros</h1>
            <p>
                Os jogos médios ocupam um lugar especial no coração dos jogadores brasileiros,
                 oferecendo experiências únicas e envolventes. Desde aventuras indie como "Celeste"
                  e "Hollow Knight" até os populares jogos de sobrevivência como "Minecraft" e "Terraria",
                   passando pelos RPGs de mundo aberto como "The Witcher 3" e jogos de estratégia como "Civilization VI"
                   , há uma diversidade de preferências. Além disso, os títulos cooperativos como "Among Us" e "Overcooked!
                    2" também conquistaram os brasileiros, proporcionando não apenas diversão, mas também oportunidades de conexão
                     com amigos e outros jogadores online.
            </p>

            
         
    </div>

</div>