form {
    margin: 10px;
    margin-top: 0;

}

.color3 {
    height: 100vh;
    background-color: lightslategray;
}

.centralizar {
    width: 80%;
    margin: auto;
}
.imagem{
    width: 240px;
    display:block;
}
.flexcontainer{
    display: flex  ;
    justify-content: space-between;
    align-items: end;
}
h2{
    font-size: 20px;
}

