<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
  
      <button mat-icon-button class="example-icon" aria-label="Listar Produtos" routerLink="/restrito/lista">
        <span>Listar Produtos</span>
      </button>
  
      <button mat-icon-button class="example-icon" aria-label="Cadastrar Produto" routerLink="/restrito/cadastro">
        <span>Cadastrar Produto</span>
      </button>
  
      <span class="example-spacer"></span>
  
    
     
    </mat-toolbar-row>
  </mat-toolbar>
  